.displayContainer {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  min-width: 385px;
  align-items: center;
  justify-content: center;
}

.mainDisplay {
  border-radius: 10px;
  max-width: 100%;
  min-width: 75%;
  cursor: pointer;
}

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 48px;
  min-width: 48px;
  margin: 5px;
  padding: 12px 16px;
  border-radius: 50% !important;
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
  background: #FFFFFF;
  border: inherit;
}

.button:hover {
  box-shadow: 0 4px 40px rgb(34 34 34 / 25%);
}

.buttonContainer {
  display: flex;
  align-items: center;
  max-height: inherit;

  justify-content: center;
}

#like {
  align-self: flex-end;

}
/*

.button {
  cursor: pointer;
  min-height: 48px;
  min-width: 48px;
  margin: 5px;
  padding: 12px 18px;
  border-radius: 50% !important;
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
  background: #FFFFFF;
  align-items: center;
}


*/


