.image {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin: 5px;
}

#selected {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  border: 2px solid black;
  opacity: 1;
  margin: 5px;
}
